# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp

# Package files
*.jar

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Build directories
target/
bin/
out/

# Maven-specific files
mvnw
mvnw.cmd
.mvn/

# Gradle-specific files
gradle/
.gradle/
